@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Taviraj:wght@100;200;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --color-primary-light: #161861;
  --color-primary: #121451;
  --color-primary-dark: #0e1041;

  --color-secondary-light: #17123c;
  --color-secondary: #130f32;
  --color-secondary-dark: #0f0c28;

  --color-tertiary-light: #5e5bc6;
  --color-tertiary: rgb(78, 76, 165);
  --color-tertiary-dark: #3e3d84;

  --color-base-light: #ebc0b5;
  --color-base: #c4a097;
  --color-base-dark: #9d8079;

  --font-heading: "Kanit", sans-serif;
  --font-primary: "Taviraj", serif;
  --font-base: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: auto;
  scrollbar-color: #5e5bc6 #3e3d84;
}

html,
body {
  font-family: var(--font-base);
  margin: 0;
  scroll-behavior: smooth;
  background: var(--color-tertiary-dark);
  color: #fff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #3e3d84;
}

*::-webkit-scrollbar-thumb {
  background-color: #5e5bc6;
  border-radius: 8px;
}
