@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Taviraj:wght@100;200;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --color-primary-light: #7f7cf7;
  --color-primary: #6a67ce;
  --color-primary-dark: #5552a5;

  --color-secondary-light: #b297ea;
  --color-secondary: #947ec3;
  --color-secondary-dark: #76659c;

  --color-tertiary-light: #daa4e6;
  --color-tertiary: #b689c0;
  --color-tertiary-dark: #926e9a;

  --color-base-light: #fffffc;
  --color-base: #eef3d2;
  --color-base-dark: #bec2a8;

  --font-heading: "Kanit", sans-serif;
  --font-primary: "Taviraj", serif;
  --font-base: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: auto;
  scrollbar-color: #76659c #947ec3;
}

html,
body {
  font-family: var(--font-base);
  margin: 0;
  scroll-behavior: smooth;
  background: var(--color-base-light);
  color: #fff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #947ec3;
}

*::-webkit-scrollbar-thumb {
  background-color: #76659c;
  border-radius: 8px;
}
